body {
  margin: 0;
}

h3 {
  padding-bottom: 10px;
}

.market-style {
  width: 70%;
  padding: 25px;
}

.container{
  padding-top: 80px;
}

.marketList {
  display: none;
}

.produceList {
  display: none;
}

/* .row {
  text-align:center;
} */
